<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>分类编辑</title>
  <link rel="stylesheet" href="<?=base_url()?>static/admin/layui/css/layui.css">
  <link rel="stylesheet" href="<?=base_url()?>static/admin/css/myadmin.css">
  <!--<script src="<?=base_url()?>/static/admin/js/zepto.min.js"></script>-->
</head>

<body>

  <div class="layui-container">
    <div style="font-weight:bold; margin:15px; text-align:center;">
      <h2>编辑品牌</h2>
    </div>
    <div class="layui-form">

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">品牌名称</label>
          <div class="layui-input-block">
             <input type="text" name="brand_name" id="brand_name" lay-verify="brand_name" autocomplete="off" placeholder="请输入品牌名称" class="layui-input" value="">
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">Logo图片</label>
          <div class="layui-input-block">
            <img src="/static/index/images/brand/avx-logo.png" />
          </div>
        </div>
        <div class="layui-inline">
          <input type="text" name="brand_logo" id="brand_logo" class="layui-input" value="/static/index/images/brand/avx-logo.png"?>
        </div>

        <div class="layui-inline">
          <button class="layui-btn ">修改Logo</button>
        </div>
      </div>


      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">官网地址</label>
          <div class="layui-input-block">
            <input type="text" name="brand_website" id="brand_website" lay-verify="brand_website" autocomplete="off" placeholder="请输入官网地址" class="layui-input" value="">
          </div>
        </div>
      </div>


      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" onclick="addNew()">立即提交</button>
          <button type="button" class="layui-btn layui-btn-primary" onclick="CloseMe();">取消</button>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>

<script src="<?=base_url()?>static/admin/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
   var layer=layui.layer;
   layui.use('table', function() {
    $ = layui.$;
    var form = layui.form;
    var table = layui.table;

    //监听指定开关
    form.on('switch(enableSwitch)', function(data) {
      $("cat_enabled").value = "33";
      document.getElementById("cat_enabled").value = this.checked ? 1 : 0;
    });
  });

  function addNew() {
    //从服务器获取appsig
    var params = {
      brand_name: $("#brand_name").val(),
      brand_logo: $("#brand_logo").val(),
      brand_website: $("#brand_website").val(),
    };
    $.ajax({
      type: 'POST',
      url: '<?=site_url()?>/api/brand/addnew',
      data: params,
      dataType: 'json',
      success: function(response) {
        if (response.result == true) {
          layer.alert("添加品牌成功!", {
            icon: 1
          }, function(index) {
            CloseMe();
          });
        } else {
          layer.alert("添加品牌失败!", {
            icon: 5
          }, function(index) {
            CloseMe();
          });
        }
      },
      error: function(xhr, errorType, error) {
        layer.alert("添加品牌失败!" + errorType, {
          icon: 5
        }, function(index) {
          CloseMe();
        });
      }
    });

  }


  function CloseMe(){
    var index = parent.layer.getFrameIndex(window.name);
    parent.layer.close(index);//关闭当前页
  }
</script>
