<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>迈拓恒科商城管理后台</title>
<link rel="stylesheet" href="<?=base_url()?>/static/admin/css/myadmin.css">
<link rel="stylesheet" href="<?=base_url()?>/static/admin/layui/css/layui.css">
<link rel="stylesheet" href="<?=base_url()?>/static/admin/fontfaces/fonticon.css">
<link rel="stylesheet" href="<?=base_url()?>/static/index/css/style.css">
<style>
  .page_title{
    font-size: 18px;
    padding:10px;
    float:left;
    padding-bottom: 12px;
  }
</style>
</head>

<body>
   <div style="height:62px;display:block">
   <div class="page_title"><i class="layui-icon layui-icon-face-smile" style="color: #1E9FFF;"></i> 分类管理</div>
   <div class="layui-btn-container" style="float:right;padding:15px;">
     <button class="layui-btn layui-btn-sm" onclick="add_category()">添加分类</button>
     <button class="layui-btn layui-btn-sm" onclick="delete_category()">删除分类</button>
  </div>
</div>

 <table class="layui-hide" id="categorytable" lay-filter="categorytable" style="width:100%;"></table>

 <!--类别名称-->
 <script type="text/html" id="category_titlewraper">
   {{#  if(d.sub === 0){ }}
      {{d.cat_name}}
   {{# }else{  }}
       <img src="<?=base_url()?>/static/admin/images/category_line.png">{{d.cat_name}}
   {{#  } }}
 </script>

 <script type="text/html" id="category_iconwraper">
  <i class="iconfont {{d.cat_icon}}"></i>
 </script>
   <!--常用工具按钮-->
  <script type="text/html" id="actionToolBar">

  </script>

  <script type="text/html" id="actionToolbar">
    <a class="layui-btn layui-btn-xs"  lay-event="edit">  <i class="layui-icon layui-icon-edit"></i> 编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">  <i class="layui-icon layui-icon-delete"></i>删除</a>
  </script>

  <script type="text/html" id="enableTpl">
  <!-- 这里的 checked 的状态只是演示 -->
  {{# if (d.cat_enabled==="1") {}}
    <span class="layui-badge layui-bg-green">启用中</span>
  {{# }else{ }}
      <span class="layui-badge">已禁用</span>
  {{# } }}
 </script>

<script src="<?=base_url()?>static/admin/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
var table;
layui.use('table', function(){
  table = layui.table;
  $ = layui.$;
  table.render({
    elem: '#categorytable'
    ,url:'<?=site_url()?>/api/category/GetAdminAll'
    ,toolbar: '#actionToolBar'
    ,title: '用户数据表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'cat_id', title:'ID', width:80, fixed: 'left'}
      ,{field:'deleted', title:'已删除',width:80}
      ,{field:'cat_icon', title:'图标',align:"center",width:80,templet:"#category_iconwraper"}
      ,{field:'cat_name', title:'类别名称', width:260,templet:"#category_titlewraper"}
      ,{field:'cat_enabled', title:'状态', templet: '#enableTpl'}
      ,{field:'cat_order', title:'排序'}
       ,{field:'createdate', title:'创建日期'}
      ,{align:"center",title:'操作', toolbar: '#actionToolbar'}
    ]]
    ,page: true
  });

  //监听行工具事件
  table.on('tool(categorytable)', function(obj){
    var data = obj.data;

    //console.log(obj)
    if(obj.event === 'delete'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        var params={
          cat_id:data.cat_id,
          cat_delete:1
        };
        $.ajax({
            type: 'POST',
            url: '<?=site_url()?>/admin/category/delete',
            data: params,
            dataType: 'json',
            success: function (response) {
              if(response.result==true){
                layer.alert("删除类别OK",{icon:1},function(index){
                  layer.close(index);
                  location.reload();
                });
              }else{
                layer.alert("删除类别失败!",{icon:1},function(index){
                  layer.close(index);
                  location.reload();
                });
              }
            }
          });
       });
    } else if(obj.event === 'edit'){
      //编辑类别
      layer.open({
             type: 2,
             title: "编辑类别",
             area: ['800px', '600px'],
             content: '<?=site_url()?>/admin/category/edit/' + data.cat_id,
             end: function () {
                location.reload();
            }
       });
    }
  });
});


function add_category(){
  layer.open({
         type: 2,
         title: "添加新类别",
         area: ['800px', '600px'],
         content: '<?=site_url()?>/admin/category/addnew/',
         end: function () {
            location.reload();
        }
   });



}
function delete_category(){
  var checkStatus = table.checkStatus("categorytable");
  var data = checkStatus.data;
  layer.alert(JSON.stringify(data));

}

</script>
